<div class="container">
    <div class="usa-grid-full">
        <!-- LEFT PART-->
        <div class="usa-grid-one-third">
            <div class="usa-grid-full">
                <div class="usa-grid-one-half sang-round-border-inline">
                    <p>LABEL</p>
                    <p>LABEL</p>
                    <p>LABEL</p>
                    <p>LABEL</p>
                    <p>LABEL</p>
                    <p>LABEL</p>
                </div>
                <div class="usa-grid-one-half sang-round-border-inline">
                    <p><input type="text" /> </p>
                    <p><input type="text" /> </p>
                    <p><input type="text" /> </p>
                    <p><input type="text" /> </p>
                    <p><input type="text" /> </p>
                    <p><input type="text" /> </p>
                </div>
            </div>
            <button>Generate!</button>
        </div>

        <!-- RIGHT PART-->
        <div class="usa-grid-two-thirds">
            output goes here in some fashion.
        </div>
    </div>
</div>